/* Genel Reset ve Temel Ayarlar */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #fff;
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

#logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #434455;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-left: 16px;
}

.web {
  color: #4d5ae5;
}

.link.current {
  color: #404bbf;
  position: relative;
}

.top-line ul {
  display: none;
}

.header-container {
  width: 100%;
  height: 56px;
  align-content: center;
  position: relative;
  padding-right: 16px;
}

.menu-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-icon:hover,
.menu-icon:focus {
  fill: #404bbf;
}

/* Form */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 16px);
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal.is-open {
  display: flex;
}

.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 1;
}

.modal-header {
  text-align: center;
}

.modal-content {
  position: relative;
  z-index: 2;
  background-color: #ffffff;
  padding: 24px;
  border-radius: 8px;
  max-width: 408px;
  width: 90%;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
}

.modal-content p {
  margin-top: 48px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #2e2f42;
}

.modal form label {
  display: block;
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 14px;
  color: #8e8f99;
}

form input[type="text"],
form input[type="tel"],
form input[type="email"] {
  width: 100%;
  padding: 10px 42px;
  margin-top: 5px;
  font-size: 14px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}
form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  font-size: 14px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  outline: none;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper {
  position: relative;
  margin-bottom: 16px;
}

.input-wrapper input {
  width: 100%;
  padding: 12px 12px 12px 40px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper input:focus,
.input-wrapper input:hover {
  border-color: #4d5ae5;
}

.input-wrapper:focus-within .input-icon,
.input-wrapper:hover .input-icon {
  fill: #4d5ae5;
}

.textarea-wrapper textarea:focus,
.textarea-wrapper textarea:hover {
  border-color: #4d5ae5;
  outline: #4d5ae5;
}

.input-wrapper .input-icon {
  position: absolute;
  left: 16px;
  top: 24px;
  transform: translateY(-50%);
  pointer-events: none;
}

textarea {
  resize: none;
  height: 120px;
}

input[type="checkbox"] {
  accent-color: #404bf4;
  width: 16px;
  height: 16px;
  vertical-align: bottom;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 16px;
  gap: 6px;
  max-height: 16px;
}

#mycheckbox {
  display: none;
}

#mycheckbox + label {
  width: 16px;
  height: 16px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  justify-content: center;
  margin: -2px auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-icon {
  position: absolute;
  left: 2px;
  top: 3px;
  color: #fff;
}

#mycheckbox:checked + label {
  background-color: #404bf4;
  border-color: #404bf4;
}

.checkbox-wrapper a {
  color: #4d5ae5;
  text-decoration: underline;
  line-height: 16px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-wrapper a:hover,
.checkbox-wrapper a:focus {
  color: #404bbf;
}

.submit-button {
  width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  color: #fff;
  padding: 12px;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover,
.submit-button:focus {
  background-color: #404bbf;
}

.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  margin: 0 auto;
  padding: 0 auto;
  background-color: #e7e9fc;
  border: 1px solid #0000001a;
  border-radius: 50%;
  cursor: pointer;
  color: #333;
  text-align: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  background-color: #404bbf;
}

.close-button:hover .close-icon,
.close-button:focus .close-icon {
  fill: #fff;
}

/*Menu*/

.menu-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 2000;
  justify-content: center;
  align-items: center;
}

.menu-modal.is-open {
  display: flex;
}

.menu-content {
  background-color: #fff;
  width: 100%;
  max-width: 320px;
  height: 100%;
  padding: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
}

.menu-close {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: #e7e9fc;
  border: 1px solid #0000001a;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-nav ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 48px;
}

.menu-nav .link {
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
  text-decoration: none;
  color: #2e2f42;
}

.menu-nav .link.current {
  color: #404bbf;
}

.link:hover,
.link:focus {
  color: #404bbf;
}

.menu-contacts .link:focus,
.menu-contacts .link:hover {
  color: #4d5ae5;
}

.menu-contacts {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: auto;
}

.menu-contacts .link {
  font-size: 20px;
  line-height: 24px;
  color: #434455;
  text-decoration: none;
}

.menu-social {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.menu-social a {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-social a:hover {
  background-color: #404bbf;
}

/*Hero İmage*/
.heroimage {
  background-color: #2e2f42;
  background-image: linear-gradient(to bottom, #2e2f42b3, #2e2f42b3),
    url("../images/people-office.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  text-align: center;
  justify-content: center;
  padding: 72px 0;
  width: 100%;
  min-width: 320px;
  min-height: 432px;
  margin: 0 auto;
}

@media (min-resolution: 2x) {
  .heroimage {
    background-image: linear-gradient(to bottom, #2e2f42b3, #2e2f42b3),
      url("../images/people-office@x2.jpg");
  }
}

.heroimage h1 {
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 216px;
}

.heroimage button {
  background-color: #4d5ae5;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.04em;
  width: 169px;
  height: 56px;
  border: none;
  cursor: pointer;
  margin-top: 72px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.heroimage button:hover,
.heroimage button:focus {
  background-color: #404bbf;
}

/*Section 1*/
.section-1 .icon-background {
  display: none;
}

.section-1 {
  background-color: #ffffff;
  padding: 60px 0;
  margin: 0 auto;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: 0 auto;
  text-align: center;
}

.features li {
  max-width: 264px;
}

.features h3 {
  font-weight: bold;
  font-size: 36px;

  letter-spacing: 0.02em;
  text-align: center;
}

.features p {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  width: 288px;
}

/*Section 2*/

.section-2 {
  background-color: #f4f4fd;
  padding: 60px 0;
  margin: 0 auto;
  height: 2140px;
  align-items: center;
  justify-content: center;
}

h2 {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.team {
  display: block;
  justify-content: center;
  align-items: center;
  gap: 24px;
  height: 428px;
}

.team li {
  background-color: #fff;
  text-align: center;
  width: 264px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 6px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 2px 1px 0px #2e2f4214;
  margin: 72px auto;
}

.team h3 {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.02em;
  padding-top: 20px;
}

.team p {
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.02em;
}

.team .social {
  padding-bottom: 20px;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

.team .social a {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  align-content: center;
  border-radius: 50%;
}

.team .social a:hover {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team .social .icon {
  color: #fff;
  display: flex;
  margin: auto;
}

/* Section 3 */
.section-3 {
  background-color: #f4f4fd;
  margin: 0 auto;
}

#portfolio {
  margin-top: 72px;
}

.portfolio {
  margin: 0 auto;
  display: block;
  justify-content: center;
  width: calc(100% - 32px);
}

.portfolio li {
  margin: 0 auto;
  background-color: #fff;
  max-width: 360px;
  max-height: 420px;
  margin-bottom: 42px;
}

.card-image-wrapper {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(77, 90, 229, 1);
  color: white;
  padding: 20px;
  transform: translateY(100%);
  opacity: 0;
  display: flex;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover .card-overlay {
  transform: translateY(0);
  opacity: 1;
}

.portfolio li:hover,
.portfolio li:focus {
  box-shadow: 0px 1px 6px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 2px 1px 0px #2e2f4214;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio img {
  width: 100%;
  height: auto;
  margin-bottom: -10px;
}

.portfolio h3 {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.02em;
  padding-left: 16px;
  padding-top: 27px;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.portfolio p {
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.02em;
  padding-left: 16px;
  padding-bottom: 32px;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}

.card-overlay p {
  border: none;
  margin-top: 20px;
  color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
}

/*Footer*/

footer {
  background-color: #2e2f42;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.cont-footer {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  height: 664px;
  padding: 96px 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  list-style: column;
}

footer ul {
  display: block;
  margin: 0 auto;
}

.footer-first {
  width: calc(100% - 32px);
  margin: 0 auto;
  text-align: center;
  padding-bottom: 72px;
}

.cont-footer .social {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.cont-footer .social a {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  align-content: center;
  border-radius: 50%;
}

.cont-footer .social .icon {
  margin: 0 auto;
  display: flex;
}

.cont-footer .social a:hover {
  background-color: #31d0aa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer {
  width: 208px;
  height: 80px;
  margin: 0 auto;
  text-align: center;
}

.social-footer p {
  font-family: "roboto" sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  letter-spacing: 0.03em;
  text-decoration: none;
}

footer .footer-text {
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.02em;
  margin-top: 20px;
  max-width: 264px;
  text-align: left;
}

.social-footer .social a:hover .icon,
.social-footer .social a:focus .icon {
  color: #31d0aa;
  fill: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form {
  display: block;
  height: 80px;
  padding-top: 72px;
  align-items: center;
  text-align: center;
}

.footer-form .footer-input {
  height: 40px;
  width: 264px;
  background-color: #2e2f42;
  border: 1px solid #fff;
  border-radius: 4px;
  margin-top: 10px;
  color: #fff;
  padding-left: 16px;
  margin-bottom: 16px;
}

.footer-form label {
  font-family: "roboto" sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
}

.footer-form .form-button {
  display: flex;
  margin: 0 auto;
  height: 40px;
  width: 165px;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  cursor: pointer;
  align-items: center;
  text-align: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0 auto;
}

.footer-form .form-button .icon {
  align-items: center;
  justify-content: center;
  margin-left: 16px;
}

.footer-form .form-button:hover,
.footer-form .form-button:focus {
  background-color: #404bbf;
}

/*Tablet Stili*/
@media screen and (min-width: 768px) {
  .menu-icon {
    display: none;
  }

  .top-line ul {
    display: flex;
  }

  /*Header*/
  header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e7e9fc;
  }

  .header-container {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 72px;
  }

  nav {
    display: flex;
    gap: 20px;
    margin: 0 auto;
  }

  .page-nav {
    display: flex;
    gap: 20px;
  }

  .page-nav .link {
    display: flex;
    color: #2e2f42;
    font-weight: 500;
    text-decoration: none;
    padding: 8px 12px;
  }

  .link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -17px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .page-nav .link:hover,
  .page-nav .link:focus,
  .link.current {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .top-contacts {
    display: flex;
    flex-direction: column;
    padding-right: 16px;
  }

  .top-contacts .link {
    color: #434455;
    text-decoration: none;
    font-size: 12px;
    line-height: 14px;
  }

  .top-contacts .link:hover,
  .top-contacts .link:focus {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .top-line {
    display: flex;
    width: 100%;
  }

  /*Hero İmage*/
  .heroimage {
    padding: 112px 0;
    height: 436px;
  }

  .heroimage h1 {
    font-size: 56px;
    line-height: 60px;
    max-width: none;
  }

  .heroimage button {
    margin-top: 36px;
  }

  /*Section 1*/

  .section-1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .features {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 16px;
  }

  .features h3 {
    text-align: left;
  }

  .features li {
    min-width: calc((100% - 24px) / 2);
    width: calc((100% - 24px) / 2);
    flex: 1 1 calc(50% - 24px);
    height: 120px;
  }

  .features p {
    font-weight: 500;
    width: 356px;
  }

  /* Section 2 */
  .section-2 {
    max-height: 1224px;
  }

  .team {
    display: flex;
    flex-wrap: wrap;
    max-width: 555px;
    margin: 0 auto;
  }

  .team li {
    flex: 1 1 calc(50%-24px);
    margin: 0;
    margin-bottom: 64px;
  }

  /* Section 3 */
  .section-3 {
    padding: 60px 0;
  }

  .portfolio {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-bottom: 40px;
    margin: 0 auto;
  }

  .portfolio li {
    background-color: #fff;
    width: calc(50% - 16px);
  }

  /*Footer*/

  .footer-first {
    text-align: left;
  }

  .social {
    gap: 16px;
  }

  .social-footer {
    display: flex;
    padding-left: 24px;
  }

  .social-footer p {
    text-align: left;
  }

  .cont-footer {
    height: auto;
  }

  .cont-footer ul {
    display: flex;
    width: auto;
  }

  .footer-form {
    width: 472px;
    display: flex;
    margin: 0 auto;
    text-align: left;
    align-items: end;
  }

  .form-label {
    margin-right: 24px;
  }

  .footer-form .footer-input {
    margin-bottom: 0;
  }
}

/* Masaüstü Stili*/
@media screen and (min-width: 1158px) {
  /* Header */

  .header-container {
    width: 1128px;
  }

  nav {
    margin-right: auto;
    margin-left: 40px;
  }

  .top-contacts {
    flex-direction: row;
    gap: 20px;
  }

  .top-contacts .link {
    font-size: 16px;
    line-height: 24px;
  }

  /* Hero Image */
  .heroimage {
    padding: 188px 0;
    width: 1440px;
    height: 600px;
  }

  /* Section 1 */
  .section-1 {
    width: 1440px;
    justify-content: center;
    height: 312px;
    margin-bottom: 72px;
  }

  .features {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .features ul {
    margin: 0 auto;
  }

  .features .icon-background {
    display: flex;
    width: 264px;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    align-items: center;
    justify-content: center;
  }

  .features .icon {
    fill: #2e2f42;
    text-align: center;
    width: 64px;
    height: 64px;
  }

  .features li {
    width: 264px;
    min-width: calc(25% - 16px);
    margin: 0 auto;
  }

  .features h3 {
    font-size: 20px;
    text-align: left;
  }

  .features p {
    font-size: 16px;
    max-width: 264px;
  }

  /* Section 2 */
  .section-2 {
    width: 1440px;
    height: 674px;
  }

  .team {
    flex-wrap: nowrap;
  }

  .team .social {
    justify-content: center;
    gap: 24px;
  }

  /* Section 3 */

  .portfolio {
    justify-content: center;
    width: 1440px;
  }

  .portfolio li {
    margin: 0;
    width: 360px;
  }

  /* Footer */

  .cont-footer {
    width: 1128px;
    margin: 0;
    padding: 100px 0;
    flex-direction: row;
    align-items: baseline;
    height: 312px;
  }

  .social-footer {
    margin-left: 120px;
    margin-right: 80px;
    padding-left: 0;
  }

  .footer-form {
    margin-left: 0;
    padding-left: 0;
    display: flex;
    align-items: end;
  }

  .form-button {
    display: flex;
    margin-top: 34px;
  }

  .footer-form .form-button {
    margin-left: 10px;
  }
}
